:root {
    --head-text: rgba(255, 255, 255, 0.945);
    --head-fade-1: #C60BF4;
    --head-fade-2: #F40BAE;
    --head-fade-3: #510BF4;
    --bg-primary-1: #10101f;
    --bg-primary-2: #1f1f3b;
    --bg-primary-3: #353563;
}

.head {
    background: linear-gradient(to right, var(--head-fade-1), var(--head-fade-2), var(--head-fade-3));
    width: 100%;
    margin: 0;
    border-bottom: 2px solid var(--head-text);
    padding: .5em 0 .5em 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

input {
  background: black;
}

.c {
    padding: 0;
    margin: 0 auto 0 auto;
    width: 90%;
}

.nav-logo {
    border-radius: 10px;
}

.spacer {
  width: 100%;
  height: 3em;
  margin: 0;
  padding: 0;
}

.url {
  text-decoration: none;
  color: var(--head-text);
  font-weight: 500;
  size: 1.5em;
}

.name {
  font-weight: 750;
  size: 2.5em;
}

.fartground {
  background: var(--bg-primary-1);
}

body {
  color: rgb(207, 207, 207);
}

a {
  color: rgb(86, 214, 231);
  font-weight: 600;
  text-decoration: solid;
}

/* fancy button stuff */
.imgLeft {
  float: left;
  margin: 15px;
  
}

.imgRight {
    float: right;
    margin: 15px;
    
  }

p.wrap1 {
  text-align: justify;
  font-size: 1em;
  padding: 15px;
}

.round1 {
  border-radius: 1%;
}

.storyLineControls{
  text-align: right;
  clear: both;
}

.log:hover {
  background: rgba(0, 0, 0, 0.253);
}

.btnCtrls {
  width: 100px;
  height: 4px;      
  border: none;
  background: #ff0000;
  color: #ff0000;
  font-size: .01px;
  font-weight: .01;  
  transition: transform 250ms, opacity 400ms;     
}

.btnCtrls:hover {
  transform: translateY(-5px);
  opacity: .9;
  width: 100px;
  height: 25px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: none;
  background: #ff0000;
  color: white;
  font-size: 1em;
  font-weight: 500;
  line-height: .5;
}

.btnCtrls:active, .btnCtrls:visited{
  text-decoration: none;
  border: 0;
}


/************************  loader fun  ************************/
.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {            
    margin: 60px auto;
    /* font-size: 10px; */
    position: relative;
    /* text-indent: -9999em; */
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#loadingDiv {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(98, 98, 98, 0.281);
}
#loadingText{
  text-align: center;
  color:#ffffff;
  opacity: .6;  
}

/************************  Landing Page  ************************/

/* HEXAGONS */
.hex-main {
  display:flex;
  position: fixed;
  top: -40px;
  left: -40px;
  --s: 75px;  /* size  */
  --m: 1px;    /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
  width: 120%;
  height: 120%;
  grid-gap: 10px;
  z-index: -9999;
}

.hex-c {
  font-size: 0; /*disable white space between inline block element */
}

.hex-c div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547); 
  display: inline-block;
  font-size:initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background: #2d2f42;
  margin-bottom: calc(var(--m) - var(--s)*0.2885); 
}

.hex-c::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(     
    #0000 0 calc(var(--f) - 3px),
    #000  0 var(--f));
}

/* RAINBOW */
.wrapper { 
  background: linear-gradient(124deg, #663a3a, #8f7150, #899654, #50925a, #586a9c);
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.hex-c > *:hover {
  background: #393c52;
}

.home-c {
  width: 80%;
  position: relative;
  margin: auto auto auto auto;
  height: fit-content;
  padding: 1%;
  border: 2px solid #393c52;
  border-radius: 25px;
  background: #26264b;
  text-align: center;
}

.home-c > * {
  position: relative;
  left: 0;
  width: 100%;
  height: fit-content;
  padding: .5em 2em .5em 2em;
}

.home-div-top {
  background: #353563;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.home-div-mid {
  background: #1f1f3b;
  margin-left: auto 0 auto 0;
}

.home-div-bottom {
  background: #353563;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}