:root {
    --dark-purple: #1B1E53;
    --mid-purple: #711971;
    --text-purple: #E0C7FA;
    --head-fade-1: #6ae444;
    --head-fade-2: #00ff9d;
    --head-fade-3: #00ffaa;
}

.head {
    background: linear-gradient(to right, var(--head-fade-1), var(--head-fade-2), var(--head-fade-3));
    width: 100%;
    margin: 0;
    border-bottom: 2px solid var(--dark-purple);
    padding: .5em 0 .5em 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.c{
    padding: 0;
    margin: 0 auto 0 auto;
    width: 90%;
}

.head-text {
    color: var(--dark-purple);
}

.nav-logo {
    border-radius: 10px;
}

.head-button {
    color: red;
}

.spacer {
  width: 100%;
  height: 3em;
  margin: 0;
  padding: 0;
}



/* fancy button stuff */
.imgLeft {
  float: left;
  margin: 15px;
  
}

.imgRight {
    float: right;
    margin: 15px;
    
  }

p.wrap1 {
  text-align: justify;
  font-size: 1em;
  padding: 15px;
}

.round1 {
  border-radius: 1%;
}

.storyLineControls{
  text-align: right;
  clear: both;

}

.btnCtrls {
  opacity: .2;
  width: 100px;
  height: 2px;      
  border: none;
  background: #d20000;
  color: #6f0202;
  font-size: .01px;
  font-weight: .01;  
  transition: transform 250ms, opacity 400ms;     
}

.btnCtrls:hover {
  transform: translateY(-5px);
  opacity: .9;
  width: 100px;
  height: 25px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: none;
  background: #602b71;
  color: white;
  font-size: 1em;
  font-weight: 500;
  line-height: .5;
}

.btnCtrls:active, .btnCtrls:visited{
  text-decoration: none;
  border: 0;
}