{% extends "base.html" %}
{% load crispy_forms_tags %}
{% crispy example_form example_form.helper %}

{% block content %}
<div class="article-entry">
    <h2>{{ object.title }}</h2>
    <p>by {{ object.author }} | {{ object.date }}</p>
    <p>{{ object.body }}</p>
</div>
<hr>
<p><strong>Generated images may only be visible for a certain period of time after generation. Please download any images you wish to keep.</strong></p>
<hr>
<h4>Storylines</h4>
{% for comment in article.comment_set.all %}
<div class="storyLineControls"><button class="btnCtrls" onclick="delClick({{ comment.id }})">Delete</button></div>
<div style="background-color: #ececec;">
    {% cycle 'imgRight' 'imgLeft' as imgClassRotate silent %}
    <div class="{{ imgClassRotate }}">
        <a href="{{ comment.urls }}" target="_blank">
        <img src="{{ comment.urls }}" style="width:300px;height:300px;" class="round1"></a>
    </div>
    <p class="wrap1">{{ comment }}</p>      
</div> 

{% endfor %}

<!-- <img src="https://openailabsprodscus.blob.core.windows.net/private/user-7EgWqA2d2YOXRjNL74Wlzx06/generations/generation-BI4FAFAICUALEyrYeysajzWq/image.webp?st=2022-11-15T17%3A16%3A25Z&se=2022-11-15T19%3A14%3A25Z&sp=r&sv=2021-08-06&sr=b&rscd=inline&rsct=image/webp&skoid=15f0b47b-a152-4599-9e98-9cb4a58269f8&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2022-11-15T17%3A15%3A26Z&ske=2022-11-22T17%3A15%3A26Z&sks=b&skv=2021-08-06&sig=aOUubyFbt0d5/A0snSZ2I3uMZBcCecTyokdfgcXAxmY%3D" alt="">;
 -->
<div style="clear:both;">
    <hr>
    <h4>Add a Storyline</h4>
    {% crispy form %}

    <button id="aibutton" name="aibutton" type="button" style="padding: 10px 20px; margin-bottom: 20px;">Generate AI Storyline</button>
   

</div>
<script>
// using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    
    $(document).ready(function(){

      $("#aibutton").click(function(){
    
            event.preventDefault();
            var example_form = '#id-exampleForm';
            $("input[name='storyLineID']").val('None');
            var d1 = $(example_form).serialize();
            var cm = $('#id_comment').val();
          
            $.ajax({
                type: "POST",
                url: "{% url 'article_detail' article.pk %}",          
                data: d1,
                success: function(data) {
                    if (!(data['isError'])) {
                        // No error, all good
                        // Repopulate storyline box
                        console.log("ajax return ok");
                        airesponse0 = cm + " " + data.ai_response.choices[0].text;
                        // Concatenate the original comment with the AI completion
                        $('#id_comment').val(airesponse0);
                       
                    }else {
                        // Here you can show the user a success message or do whatever you need
                        console.log("not ok");
                        $(example_form).find('.success-message').show();                  
                    }
                },
                error: function () {
                    $(example_form).find('.error-message').show()
                }
            });
        });
    });

    function delClick(storyLineID){            
            event.preventDefault();
            var example_form = '#id-exampleForm';
            // Get Storyline ID
            $("input[name='storyLineID']").val(storyLineID);
            // Dummy comment and Author to get view running here.
            // Todo: upgrade this hack for version 2
            $('#id_comment').val('Enter text');
            $("#id_author").val("1").change();

            var d1 = $(example_form).serialize();
            var cm = $('#id_comment').val();
        
            $.ajax({
                type: "POST",
                url: "{% url 'article_detail' article.pk %}",          
                data: d1,           
                success: function(data) {
                    if (!(data['isError'])) {
                       
                        // console.log("OK");
                        // Reload page - TODO fix this for V2, we really want to do this from the view
                        location.reload();                                     
                    }
                },
                error: function () {
                    $(example_form).find('.error-message').show()
                }
            });
        }

    </script>


<p><a href="{% url 'article_edit' article.pk %}">Edit</a> |
<a href="{% url 'article_delete' article.pk %}">Delete</a></p>
<p>Back to <a href="{% url 'article_list' %}">All Stories</a>.</p>
{% endblock content %}