{% extends "base.html" %}
{% load crispy_forms_tags %}
{% crispy example_form example_form.helper %}

{% block content %}
<div class="article-entry">
    <h2>{{ object.title }}</h2>
    <p>by {{ object.author }} | {{ object.date }}</p>
    <p>{{ object.body }}</p>
</div>

<hr>
<h4>Comments</h4>
{% for comment in article.comment_set.all %}
<p>{{ comment.author }} &middot; {{ comment }}</p>
{% endfor %}

<hr>
<h4>Add a comment</h4>

{% crispy form %}

<button id="aibutton" name="aibutton" type="button" style="padding: 10px 20px; margin-bottom: 20px;">Generate AI</button>

<script>
// using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    
    $(document).ready(function(){
      $("#aibutton").click(function(){
    
            event.preventDefault();
            var example_form = '#id-exampleForm';

            var d1 = $(example_form).serialize();
            var cm = $('#id_comment').val();
          
            $.ajax({
                type: "POST",
                url: "{% url 'article_detail' article.pk %}",          
                data: d1,
                success: function(data) {
                    if (!(data['success'])) {
                        // Repopulate storyline box
                        console.log("ajax return ok");
                        $('#id_comment').val(data['ai_response']);
                       
                    }else {
                        // Here you can show the user a success message or do whatever you need
                        console.log("not ok");
                        $(example_form).find('.success-message').show();                  
                    }
                },
                error: function () {
                    $(example_form).find('.error-message').show()
                }
            });
        });
    });
    </script>


<p><a href="{% url 'article_edit' article.pk %}">Edit</a> |
<a href="{% url 'article_delete' article.pk %}">Delete</a></p>
<p>Back to <a href="{% url 'article_list' %}">All Articles</a>.</p>
{% endblock content %}