{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
      <p>Welcome back {{ user.username }}!</p>

    {%else%}
      <p>You are not logged in.</p>
      <a href="{% url 'login'%}" >Log In</a> | 
      <a href="{% url 'signup'%}" >Sign Up</a>
    {% endif %}
    <p>Welcome to No Idea AI, a student project for CSCI 258 by Nathan Johnson, Luke Leimbach, and Alex Doolittle.</p>
    <p>No Idea AI is designed to take text prompts from a user, and build upon them with text and images to create entertaining stories.</p>
{% endblock content %}